.choose-file {
  border: 2px dashed rgb(88, 39, 223);
  width: 100%;
  border-radius: 15px;
  padding: 17px 20px;
  display: flex;
  align-items: center;
}

.uplodeTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 14px;
  margin-left: 14px;
  letter-spacing: 0.169679px;

  color: #a4a6b3;
}
